---
title: Arab News | World-class opinion, breaking news, regional expertise
---
= partial "menu"

%article.big-container
  .row
    %article.col-xs-12.col-lg-9
      .row.row-padding
        -# MAIN STORY
        %section.story-group.col-xs-12.col-md-7.col-lg-12
          %div{ :class => "story-box story-box--main row", :href => "http://google.com", :title => "Google the Team" }
            %figure.col-lg-7.last-lg
              %a{:href => "/"}
                %img{ :src => "images/big-image.jpg" }
            .story-box--words.clearfix.col-lg-5
              %a{:href => "/", :class => "space-group", :style => "display:block;"}
                %h1
                  Deep Divisions Emerge in Trump Administration as North Korea Threatens War
                .story-box--info.clearfix
                  %h5.f-l.purple World
                  %date.f-r 34 minutes ago
                %p
                  While President Trump and Kim Jong-un spoke in war terms, officials told Americans and the world they could “sleep well”
              .story-box--package
                %h4
                  %a{:href => "/"}
                    Mattis: North Korea Attack Could Lead to War
                %h4
                  %a{:href => "/"}
                    Where to find counter-protests to next weekend’s ‘Free Speech Rally’
          -# %img{ :src => "images/leaderboard.jpg", :class=> "block-center" }

        -# SMALLER STORIES SECTION
        .row.space-group.col-xs-12.col-md-5.col-lg-12.space-md
          %section.story-group--lined.col-lg-4
            - data.main.small.each do |story|
              %a{ :class => "story-box story-box--tiny", :href => "http://google.com", :title => story.title }
                %figure
                  %img{:title => story.title, :src => story.image }
                %h3= story.title
                %date= story.date


          %section.story-group.story-group--lined.col-lg-8

            .row
              - data.main.medium.each do |story|
                .col-lg-6
                  %a{ :class => "story-box story-box--medium", :href => "http://google.com", :title => story.title }
                    %h2= story.title
                    .clearfix
                      %figure
                        %img{:title => story.title, :src => story.image }
                      %p= story.abstract
                      %date= story.date

      -# OPINION SECTION

      %section.story-group--swipe.space-group-big
        .row-padding
          %h2.orange OPINION

        .swipe-slick.row
          - data.main.opinion.each do |story|
            %a{ :class => "story-box story-box--swipe col-md-3", :href => "http://google.com", :title => story.title }
              .o-icon
                %svg{:height => "28px", :version => "1.1", :viewbox => "0 0 28 28", :width => "28px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                    %g#HOME---Mobile-Copy-2{:transform => "translate(-29.000000, -1022.000000)"}
                      %g#Group-6{:transform => "translate(32.000000, 1025.000000)"}
                        %circle#Oval-Copy{:cx => "10.5", :cy => "10.5", :r => "10.5", :stroke => "#F5A623", "stroke-width" => "5"}
                        %polygon#Path-2{:fill => "#F5A623", :points => "15 21.8756299 25 25 21.4720159 15"}
              %figure{:style => "position: relative" }
                %img{ :src => story.image, :style => "position: relative" }
                .gradient
              .story-box--words
                %h5.orange= story.person
                %h2= story.title

      -# Business section
      %section.story-group.row.space-group-big.clearfix
        .row-padding.col-md-3.ta-right
          %h2.blue BUSINESS
        .col-md-9.story-group.story-group--list
          %div{ :class => "story-box story-box--main row", :href => "http://google.com", :title => "Google the Team" }
            %figure.col-lg-7
              %a{:href => "/"}
                %img{ :src => "images/big-image.jpg" }

            .story-box--words.clearfix.col-lg-5
              %a{:href => "/", :class => "space-group", :style => "display:block;"}
                %h2 Deep Divisions Emerge in Trump Administration as North Korea Threatens War
                %p While President Trump and Kim Jong-un spoke in war terms, officials told Americans and the world they could “sleep well”
                %date 4 hours ago


          - data.main.business.each do |story|
            %div{ :class => "story-box story-box--main row", :href => "http://google.com", :title => "Google the Team" }
              %figure.col-md-4
                %a{:href => "/"}
                  %img{:title => story.title, :src => story.image }
              .story-box--words.col-md-8
                %a{:href => "/", :class => "space-group", :style => "display:block;"}
                  %h2= story.title
                  %p= story.abstract
                  %date= story.date

        %section.space-group-big.container
          .the-feed--ad-container.ta-center
            .ad ADVERTISEMENT
            %img{:src => "images/leaderboard.jpg"  }

        -# World section
        %section.story-group.row
          .row-padding.col-md-3.ta-right
            %h2.purple WORLD
          .col-md-9.story-group.story-group--list
            %div{ :class => "story-box story-box--main row", :href => "http://google.com", :title => "Google the Team" }
              %figure.col-lg-7
                %a{:href => "/"}
                  %img{ :src => "images/big-image.jpg" }

              .story-box--words.clearfix.col-lg-5
                %a{:href => "/", :class => "space-group", :style => "display:block;"}
                  %h2 Deep Divisions Emerge in Trump Administration as North Korea Threatens War
                  %p While President Trump and Kim Jong-un spoke in war terms, officials told Americans and the world they could “sleep well”
                  %date 4 hours ago


            - data.main.business.each do |story|
              %div{ :class => "story-box story-box--main row", :href => "http://google.com", :title => "Google the Team" }
                %figure.col-md-4
                  %a{:href => "/"}
                    %img{:title => story.title, :src => story.image }
                .story-box--words.col-md-8
                  %a{:href => "/", :class => "space-group", :style => "display:block;"}
                    %h2= story.title
                    %p= story.abstract
                    %date= story.date


    -# THE FEED
    %aside.the-feed
      .relative{:style => "position: relative;"}
        .the-feed--ad
          .the-feed--ad-container
            .ad ADVERTISEMENT
            %img{:src => "images/mpu.jpg"  }
        %h2.green.ta-center THE FEED
        %section.story-group--lined.story-group--feed
          - data.main.feed.each do |story|
            %a{ :class => "story-box story-box--tiny", :href => "http://google.com", :title => story.title }
              %figure
                %img{:title => story.title, :src => story.image }
              %h3= story.title
              %date= story.date


  %nav.bottom-menu
    %ul
      %li.icon--selected
        .icon
          %svg{:height => "30px", :version => "1.1", :viewbox => "0 0 36 30", :width => "36px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
              %g#HOME---Mobile-Copy-2{:transform => "translate(-21.000000, -1211.000000)"}
                %g#Group-6{:transform => "translate(21.000000, 1211.000000)"}
                  %rect#Rectangle-2{:fill => "#FFFFFF", :height => "30", :width => "36", :x => "0", :y => "0"}
                  %g#Group-2{:fill => "#00882D", :stroke => "#FFFFFF", :transform => "translate(3.000000, 7.000000)"}
                    %polygon#N{:points => "14 14.994 14 0 17.864 0 23.723 8.736 23.933 8.736 23.933 0 27.587 0 27.587 14.994 23.723 14.994 17.864 6.258 17.654 6.258 17.654 14.994", "stroke-width" => "0.4"}
                    %path#A{:d => "M0.73,15 L6.169,0.006 L10.831,0.006 L16.27,15 L12.091,15 L11.167,12.06 L5.644,12.06 L4.72,15 L0.73,15 Z M6.694,8.742 L10.096,8.742 L8.5,3.765 L8.29,3.765 L6.694,8.742 Z", "stroke-width" => "0.5"}
        Home
      %li
        .icon
          %svg{:height => "30px", :version => "1.1", :viewbox => "0 0 36 30", :width => "36px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
              %g#HOME---Mobile-Copy-2{:transform => "translate(-102.000000, -1211.000000)"}
                %g#Group-7{:transform => "translate(102.000000, 1211.000000)"}
                  %rect#Rectangle-2-Copy{:fill => "#FFFFFF", :height => "30", :width => "36", :x => "0", :y => "0"}
                  %circle#Oval-Copy{:cx => "17.5", :cy => "14.5", :r => "8.5", :stroke => "#DBDBDB", "stroke-width" => "3"}
                  %g#Group-4-Copy-2{:fill => "#D8D8D8", :transform => "translate(19.000000, 16.000000)"}
                    %polygon#Path-2{:points => "0.947265625 6.36228717 9 9 6.1590081 0.557617188"}
        Opinion
      %li
        .icon
          %svg{:height => "30px", :version => "1.1", :viewbox => "0 0 36 30", :width => "36px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
              %g#HOME---Mobile-Copy-2{:transform => "translate(-180.000000, -1211.000000)"}
                %g#Group-8{:transform => "translate(180.000000, 1211.000000)"}
                  %rect#Rectangle-2-Copy-2{:fill => "#FFFFFF", :height => "30", :width => "36", :x => "0", :y => "0"}
                  %g#Group-4-Copy{:fill => "#CCCCCC", "fill-opacity" => "0.699999988", "fill-rule" => "nonzero", :stroke => "#FFFFFF", "stroke-width" => "0.3", :transform => "translate(8.000000, 2.000000)"}
                    %polygon#AE{:points => "17 15.0477941 17.1850481 14.9926471 17.2257587 15.3014706 18.0362694 15.125 18.8948927 15.1544118 19.5203553 15.1875 20.23094 14.4264706 21.0081421 13.6985294 21.6632124 13 21.8593634 13.3860294 22 14.2830882 21.4707624 14.2867647 21.3856403 15.0220588 21.5706884 15.1764706 21.1006662 15.3970588 21.0969652 15.8566176 20.7934863 16.3198529 20.7675796 16.7647059 20.5566247 17 17.4404145 16.4411765 17.0407106 15.3088235"}
                    %polygon#IQ{:points => "10.7821963 1.59205776 11.4498358 1.9299639 11.5300985 2.57978339 11.0120394 2.9599278 10.7748997 3.81768953 11.4863189 4.85090253 12.737687 5.44223827 13.266691 6.25451264 13.098869 7.02454874 13.423568 7.02454874 13.434513 7.5866426 14 8.13574007 13.3943816 8.08700361 12.7048522 7.99927798 11.9533017 9 10.0525356 8.91552347 7.17037578 6.80685921 5.6453849 6.06281588 4.4122583 5.77364621 4 4.46101083 6.2655965 3.32382671 6.65231667 1.98519856 6.55381248 1.16642599 7.11565122 0.88700361 7.64100693 0.178700361 8.07880336 0 9.26815031 0.149458484 9.62933236 0.438628159 10.118205 0.246931408"}
                    %polygon#JO{:points => "0.730383973 6.1978022 0.934891486 5.81318681 2.23706177 6.2967033 4.52838063 5 5 6.47985348 4.778798 6.65934066 2.43322204 7.26373626 3.60183639 8.45787546 3.21368948 8.65567766 3.02170284 9.05494505 2.12854758 9.21611722 1.84891486 9.64102564 1.33973289 10 0.0375626043 9.81318681 0 9.64468864 0.584307179 7.75091575 0.55509182 7.28571429 0.730383973 6.93406593"}
                    %polygon#KW{:points => "12.5250965 8.05510204 12.7490347 8.34285714 12.6525097 8.49183673 13 8.98367347 12.2355212 9 11.965251 8.69183673 11 8.62857143 11.7953668 8"}
                    %polygon#LB{:points => "0.467625899 5.75908222 0.287769784 5.77820268 0.225419664 6 0 6 0.239808153 4.95602294 0.573141487 4.0458891 0.587529976 4 0.889688249 4.06883365 1 4.57361377 0.633093525 5.05927342"}
                    %path#OM{:d => "M23.152968,16.9538462 L22.8173516,17.5815385 L22.4114155,17.5323077 L22.2260274,17.7507692 L22.0821918,18.2123077 L22.1908676,18.8215385 L22.1077626,18.9323077 L21.6954338,18.9292308 L21.1360731,19.2676923 L21.0497717,19.7076923 L20.8452055,19.8984615 L20.2890411,19.8923077 L19.9374429,20.12 L19.9406393,20.4830769 L19.5059361,20.7323077 L19.0105023,20.6492308 L18.409589,20.9507692 L17.9940639,21 L17.7,20.3723077 L17,18.8830769 L19.6881279,17.9723077 L20.2858447,16.1353846 L19.873516,15.4769231 L19.8958904,15.1015385 L20.1579909,14.7138462 L20.1611872,14.3292308 L20.5671233,14.1446154 L20.4073059,14.0153846 L20.4808219,13.4 L20.9378995,13.3969231 L21.3406393,14.04 L21.8424658,14.3815385 L22.5009132,14.5046154 L23.0315068,14.6738462 L23.4374429,15.2092308 L23.6803653,15.5169231 L24,15.6338462 L23.9968037,15.84 L23.6707763,16.3907692 L23.5269406,16.6492308 L23.152968,16.9538462 Z M20.9410959,12.48 L20.8228311,12.6523077 L20.6534247,12.3261538 L20.9155251,12 L21.0273973,12.0830769 L20.9410959,12.48 Z"}
                    %polygon#QA{:points => "16.0785124 13.8731809 16 13.4074844 16.3140496 13.0706861 16.6280992 13 16.9793388 13.2016632 17 13.5779626 16.7479339 13.954262 16.4256198 14"}
                    %polygon#SA{:points => "7.74631168 23 7.6242157 22.5660766 7.33593353 22.2581309 7.26131931 21.8487032 6.77293539 21.4847674 6.26420214 20.6239193 5.99626929 19.7805681 5.33830761 19.0666941 4.91436324 18.8987238 4.283534 17.9013998 4.17500424 17.1735282 4.2157029 16.5471387 3.66966254 15.3713462 3.22536883 14.9549197 2.70985247 14.7344586 2.3978294 14.1185673 2.44870273 13.8771099 2.18416144 13.3172087 1.90605393 13.0757513 1.53637443 12.2638946 0.956418518 11.3820502 0.471426149 10.6261836 0 10.629683 0.145836866 10.0207904 0.189927082 9.632359 0.305239953 9.18443804 1.36340512 9.36290655 1.77717483 9.01996706 2.00440902 8.6140387 2.7302018 8.46006587 2.88621333 8.07863318 3.20162795 7.88966653 2.25199254 6.74886785 4.15804646 6.17146974 4.33779888 6 5.48414448 6.31144504 6.90181448 7.11280362 9.58114295 9.38390284 11.3481431 9.47488678 12.1960319 9.58336764 12.4334407 10.1117744 13.1049686 10.0837793 13.4780397 11.0391107 13.9460743 11.2875669 14.1088689 11.6759984 14.7566559 12.1344175 14.8143124 12.5858378 14.7193488 12.9462742 14.8414448 13.31021 15.1127692 13.6146562 15.2416483 13.9680939 15.3840936 14.2305476 15.6689842 14.4440099 15.9335255 14.3670235 16.1132779 14.7764512 16.150585 15.0249074 16.516873 16.1027172 19.3725623 16.6346233 19.565881 16.4106628 20 17.1595307 19.3657792 19.248662 16.5134814 20.2844792 13.773105 20.6799094 12.8845176 21.1418279 12.202815 22.2161383 11.7585213 22.3841087 11.5211124 22.0446686 11.158216 22.0971593 10.2391046 21.9956772 10.0627438 21.8906958 8.96727149 21.9151914 8.70951331 22.0096748 8.31948448 21.7437217 8.06511786 22.2441334 8.16347295 22.6745574"}
                    %polygon#SY{:points => "3.2541555 4.72966507 1.19356568 6 0.0225201072 5.52631579 0 5.51913876 0.142627346 5.33971292 0.127613941 4.84808612 0.386595174 4.19138756 0.960857909 3.73564593 0.788203753 3.26196172 0.315281501 3.19736842 0.21769437 2.26076555 0.472922252 1.75478469 0.754423592 1.48564593 1.03592493 1.21291866 1.09597855 0.516746411 1.43753351 0.76076555 2.59731903 0.412679426 3.15656836 0.645933014 4.02359249 0.642344498 5.23217158 0.172248804 5.80268097 0.193779904 7 0 6.45951743 0.782296651 5.88150134 1.09090909 5.98284182 1.99521531 5.5849866 3.47368421"}
                    %polygon#YE{:points => "18 22.2185145 17.2417657 22.4736276 17.0400679 22.8869752 17.0139219 23.2066738 15.9718166 23.6006459 14.298472 24.0365985 13.3609508 24.6921421 12.901528 24.7405813 12.5877759 24.6856835 11.9752122 25.073197 11.3066214 25.2508073 10.4288625 25.2992465 10.1636672 25.350915 9.93582343 25.5931109 9.65942275 25.6609257 9.49881154 25.8966631 8.97962649 25.8772874 8.6434635 26 7.9188455 25.9547901 7.64617997 25.4155005 7.67606112 24.9085038 7.50797963 24.6340151 7.30254669 23.949408 7 23.5651238 7.20916808 23.5199139 7.1008489 23.0936491 7.2278438 22.9128095 7.18302207 22.5059203 7.64244482 22.2055974 7.53412564 21.8083961 7.81426146 21.3466093 8.24380306 21.5920344 8.52767402 21.5048439 9.73412564 21.482239 9.92835314 21.5791173 10.9405772 21.6727664 11.3402377 21.6243272 11.6016978 21.9375673 12.0910017 21.7825619 12.8417657 20.7911733 13.8203735 20.3649085 16.8383701 20 17.6601019 21.5629709"}
        Region
      %li
        .icon
          %svg{:height => "30px", :version => "1.1", :viewbox => "0 0 36 30", :width => "36px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
              %g#HOME---Mobile-Copy-2{:transform => "translate(-264.000000, -1213.000000)"}
                %g#Group-9{:transform => "translate(264.000000, 1211.000000)"}
                  %rect#Rectangle-2-Copy-3{:fill => "#FFFFFF", :height => "30", :width => "36", :x => "0", :y => "0"}
                  %g#Group-Copy{:stroke => "#979797", "stroke-linecap" => "square", :transform => "translate(10.000000, 10.000000)"}
                    %path#Line-2{:d => "M0.288461538,0.5 L14.7230723,0.5"}
                    %path#Line-2-Copy{:d => "M0.288461538,5.5 L14.7230723,5.5"}
                    %path#Line-2-Copy-2{:d => "M0.288461538,10.5 L14.7230723,10.5"}
        Sections




-# - data.nyt.results.each do |story|
-#   %img{:title => story.title, :src => "https://static01.nyt.com/images/2017/08/15/us/16SPENCER-alpha/16SPENCER-alpha-thumbLarge.jpg"}
-#   %h1
-#     = story.title
-#   %p
-#     = story.abstract
-# .slick(data-slick = "'slidesToShow': 4, 'slidesToScroll': 4")
-#   .something
-#     %h3
-#       1
-#   .something
-#     %h3
-#       2
-#   .something
-#     %h3
-#       3
